In [48]:
import pandas as pd
import os
from geopy import geocoders
from geopy.geocoders import Nominatim
import numpy as np

In [49]:
df=pd.read_csv('woman.csv')
df

,Year,Rape,Kidnap,Dowry Deaths,Assault,Insult to modesty,Cruelty by husband/relatives,Importation,Latitude/Longitude,DISTRICT
0,2001,50,30,16,149,34,175,0,"19.6759452, 78.5339895",ADILABAD
1,2001,23,30,7,118,24,154,0,"14.55, 77.416667",ANANTAPUR
2,2001,27,34,14,112,83,186,0,"13.416667, 79",CHITTOOR
3,2001,20,20,17,126,38,57,0,"14.416667, 78.75",CUDDAPAH
4,2001,23,26,12,109,58,247,0,"17.233496, 81.7225986",EAST GODAVARI
5,2001,0,0,0,1,0,0,0,"???, ???",GUNTAKAL RLY.
6,2001,54,51,7,139,129,378,0,"16.2915189, 80.4541588",GUNTUR
7,2001,37,39,24,118,27,746,0,"17.3886068, 78.4608095675926",HYDERABAD CITY
8,2001,56,49,62,414,81,224,0,"18.4346438, 79.1322648",KARIMNAGAR
9,2001,47,30,17,180,336,172,0,"17.2465351, 80.1500326",KHAMMAM
10,2001,37,21,10,208,72,265,0,"16.6691525, 80.7190024",KRISHNA
11,2001,29,47,13,141,107,92,0,"15.6006792, 77.896243",KURNOOL
12,2001,59,27,14,176,41,69,0,"16.3618339, 78.0312527",MAHABOOBNAGAR
13,2001,35,20,26,100,25,192,0,"17.7495977, 78.2500021",MEDAK
14,2001,35,19,31,188,59,214,0,"16.8587974, 79.2125049550569",NALGONDA
15,2001,46,80,10,207,228,287,0,"14.4493717, 79.9873763",NELLORE
16,2001,21,21,19,55,15,228,0,"18.6732693, 78.0978477",NIZAMABAD
17,2001,19,12,5,140,100,119,0,"17.0070088, 81.7879635",PRAKASHAM
18,2001,72,83,37,113,55,421,7,"12.9554461, 80.2530374",RANGA REDDY
19,2001,0,0,1,0,1,0,0,"???, ???",SECUNDERABAD RLY.
20,2001,8,12,6,38,47,108,0,"18.2949396, 83.893875",SRIKAKULAM
21,2001,25,48,2,84,122,520,0,"16.5087586, 80.6185102",VIJAYAWADA
22,2001,1,0,0,1,1,0,0,"???, ???",VIJAYAWADA RLY.
23,2001,12,12,3,67,48,99,0,"???, ???",VISAKHA RURAL
24,2001,13,6,0,33,462,204,0,"17.7231276, 83.3012842",VISAKHAPATNAM
25,2001,8,2,0,40,22,121,0,"18.1154979, 83.3978806",VIZIANAGARAM
26,2001,53,25,52,241,0,165,0,"17.9899747, 79.6043994",WARANGAL
27,2001,61,21,15,246,56,348,0,"17, 81.166667",WEST GODAVARI
28,2001,871,765,420,3544,2271,5791,7,"49.6238319, 0.779359607293479",TOTAL
29,2001,1,2,0,3,0,0,0,"27.288904, 96.1042564111019",CHANGLANG
...,...,...,...,...,...,...,...,...,...,...
8987,2012,27,66,5,45,25,73,0,NaN,NaN
8988,2012,27,66,5,45,25,73,0,NaN,NaN
8989,2012,3,9,0,2,0,0,0,NaN,NaN
8990,2012,3,9,0,2,0,0,0,NaN,NaN
8991,2012,5,0,0,0,0,1,0,NaN,NaN
8992,2012,0,0,0,0,0,2,0,NaN,NaN
8993,2012,5,0,0,0,0,3,0,NaN,NaN
8994,2012,0,0,0,0,0,178,0,NaN,NaN
8995,2012,31,95,4,47,12,57,0,NaN,NaN
8996,2012,1,1,0,0,0,0,0,NaN,NaN
8997,2012,706,2160,134,727,208,1985,0,NaN,NaN
8998,2012,90,251,7,96,26,202,0,NaN,NaN
8999,2012,0,0,0,0,0,0,0,NaN,NaN
9000,2012,4,12,1,12,6,0,0,NaN,NaN
9001,2012,0,0,0,6,0,0,0,NaN,NaN
9002,2012,5,13,0,29,7,4,0,NaN,NaN
9003,2012,14,84,6,29,10,70,0,NaN,NaN
9004,2012,78,263,25,69,9,293,0,NaN,NaN
9005,2012,64,184,12,19,14,212,0,NaN,NaN
9006,2012,67,317,15,79,18,244,0,NaN,NaN
9007,2012,70,134,17,59,36,68,0,NaN,NaN
9008,2012,116,306,11,160,43,123,0,NaN,NaN
9009,2012,87,244,18,69,21,207,0,NaN,NaN
9010,2012,0,0,0,0,0,0,0,NaN,NaN
9011,2012,79,256,18,53,6,327,0,NaN,NaN
9012,2012,0,0,0,1,0,1,0,NaN,NaN
9013,2012,0,0,0,1,0,1,0,NaN,NaN
9014,2012,6,2,0,2,0,1,0,NaN,NaN
9015,2012,7,14,0,7,2,5,0,NaN,NaN
9016,2012,13,16,0,9,2,6,0,NaN,NaN

In [50]:
df.drop(['Insult to modesty','Cruelty by husband/relatives','Importation'],axis=1)

,Year,Rape,Kidnap,Dowry Deaths,Assault,Latitude/Longitude,DISTRICT
0,2001,50,30,16,149,"19.6759452, 78.5339895",ADILABAD
1,2001,23,30,7,118,"14.55, 77.416667",ANANTAPUR
2,2001,27,34,14,112,"13.416667, 79",CHITTOOR
3,2001,20,20,17,126,"14.416667, 78.75",CUDDAPAH
4,2001,23,26,12,109,"17.233496, 81.7225986",EAST GODAVARI
5,2001,0,0,0,1,"???, ???",GUNTAKAL RLY.
6,2001,54,51,7,139,"16.2915189, 80.4541588",GUNTUR
7,2001,37,39,24,118,"17.3886068, 78.4608095675926",HYDERABAD CITY
8,2001,56,49,62,414,"18.4346438, 79.1322648",KARIMNAGAR
9,2001,47,30,17,180,"17.2465351, 80.1500326",KHAMMAM
10,2001,37,21,10,208,"16.6691525, 80.7190024",KRISHNA
11,2001,29,47,13,141,"15.6006792, 77.896243",KURNOOL
12,2001,59,27,14,176,"16.3618339, 78.0312527",MAHABOOBNAGAR
13,2001,35,20,26,100,"17.7495977, 78.2500021",MEDAK
14,2001,35,19,31,188,"16.8587974, 79.2125049550569",NALGONDA
15,2001,46,80,10,207,"14.4493717, 79.9873763",NELLORE
16,2001,21,21,19,55,"18.6732693, 78.0978477",NIZAMABAD
17,2001,19,12,5,140,"17.0070088, 81.7879635",PRAKASHAM
18,2001,72,83,37,113,"12.9554461, 80.2530374",RANGA REDDY
19,2001,0,0,1,0,"???, ???",SECUNDERABAD RLY.
20,2001,8,12,6,38,"18.2949396, 83.893875",SRIKAKULAM
21,2001,25,48,2,84,"16.5087586, 80.6185102",VIJAYAWADA
22,2001,1,0,0,1,"???, ???",VIJAYAWADA RLY.
23,2001,12,12,3,67,"???, ???",VISAKHA RURAL
24,2001,13,6,0,33,"17.7231276, 83.3012842",VISAKHAPATNAM
25,2001,8,2,0,40,"18.1154979, 83.3978806",VIZIANAGARAM
26,2001,53,25,52,241,"17.9899747, 79.6043994",WARANGAL
27,2001,61,21,15,246,"17, 81.166667",WEST GODAVARI
28,2001,871,765,420,3544,"49.6238319, 0.779359607293479",TOTAL
29,2001,1,2,0,3,"27.288904, 96.1042564111019",CHANGLANG
...,...,...,...,...,...,...,...
8987,2012,27,66,5,45,NaN,NaN
8988,2012,27,66,5,45,NaN,NaN
8989,2012,3,9,0,2,NaN,NaN
8990,2012,3,9,0,2,NaN,NaN
8991,2012,5,0,0,0,NaN,NaN
8992,2012,0,0,0,0,NaN,NaN
8993,2012,5,0,0,0,NaN,NaN
8994,2012,0,0,0,0,NaN,NaN
8995,2012,31,95,4,47,NaN,NaN
8996,2012,1,1,0,0,NaN,NaN
8997,2012,706,2160,134,727,NaN,NaN
8998,2012,90,251,7,96,NaN,NaN
8999,2012,0,0,0,0,NaN,NaN
9000,2012,4,12,1,12,NaN,NaN
9001,2012,0,0,0,6,NaN,NaN
9002,2012,5,13,0,29,NaN,NaN
9003,2012,14,84,6,29,NaN,NaN
9004,2012,78,263,25,69,NaN,NaN
9005,2012,64,184,12,19,NaN,NaN
9006,2012,67,317,15,79,NaN,NaN
9007,2012,70,134,17,59,NaN,NaN
9008,2012,116,306,11,160,NaN,NaN
9009,2012,87,244,18,69,NaN,NaN
9010,2012,0,0,0,0,NaN,NaN
9011,2012,79,256,18,53,NaN,NaN
9012,2012,0,0,0,1,NaN,NaN
9013,2012,0,0,0,1,NaN,NaN
9014,2012,6,2,0,2,NaN,NaN
9015,2012,7,14,0,7,NaN,NaN
9016,2012,13,16,0,9,NaN,NaN

In [51]:
xyz=(df['Latitude/Longitude'].str.split(',',expand=True).rename(columns={0:'Latitude', 1:'Longitude'}))

In [52]:
xyz

        Latitude           Longitude
0     19.6759452          78.5339895
1          14.55           77.416667
2      13.416667                  79
3      14.416667               78.75
4      17.233496          81.7225986
5            ???                 ???
6     16.2915189          80.4541588
7     17.3886068    78.4608095675926
8     18.4346438          79.1322648
9     17.2465351          80.1500326
10    16.6691525          80.7190024
11    15.6006792           77.896243
12    16.3618339          78.0312527
13    17.7495977          78.2500021
14    16.8587974    79.2125049550569
15    14.4493717          79.9873763
16    18.6732693          78.0978477
17    17.0070088          81.7879635
18    12.9554461          80.2530374
19           ???                 ???
20    18.2949396           83.893875
21    16.5087586          80.6185102
22           ???                 ???
23           ???                 ???
24    17.7231276          83.3012842
25    18.1154979          83.3978806
26    17.9899747          79.6043994
27            17           81.166667
28    49.6238319   0.779359607293479
29     27.288904    96.1042564111019
...          ...                 ...
8987         NaN                 NaN
8988         NaN                 NaN
8989         NaN                 NaN
8990         NaN                 NaN
8991         NaN                 NaN
8992         NaN                 NaN
8993         NaN                 NaN
8994         NaN                 NaN
8995         NaN                 NaN
8996         NaN                 NaN
8997         NaN                 NaN
8998         NaN                 NaN
8999         NaN                 NaN
9000         NaN                 NaN
9001         NaN                 NaN
9002         NaN                 NaN
9003         NaN                 NaN
9004         NaN                 NaN
9005         NaN                 NaN
9006         NaN                 NaN
9007         NaN                 NaN
9008         NaN                 NaN
9009         NaN                 NaN
9010         NaN                 NaN
9011         NaN                 NaN
9012         NaN                 NaN
9013         NaN                 NaN
9014         NaN                 NaN
9015         NaN                 NaN
9016         NaN                 NaN

[9017 rows x 2 columns]

In [53]:
xyz

        Latitude           Longitude
0     19.6759452          78.5339895
1          14.55           77.416667
2      13.416667                  79
3      14.416667               78.75
4      17.233496          81.7225986
5            ???                 ???
6     16.2915189          80.4541588
7     17.3886068    78.4608095675926
8     18.4346438          79.1322648
9     17.2465351          80.1500326
10    16.6691525          80.7190024
11    15.6006792           77.896243
12    16.3618339          78.0312527
13    17.7495977          78.2500021
14    16.8587974    79.2125049550569
15    14.4493717          79.9873763
16    18.6732693          78.0978477
17    17.0070088          81.7879635
18    12.9554461          80.2530374
19           ???                 ???
20    18.2949396           83.893875
21    16.5087586          80.6185102
22           ???                 ???
23           ???                 ???
24    17.7231276          83.3012842
25    18.1154979          83.3978806
26    17.9899747          79.6043994
27            17           81.166667
28    49.6238319   0.779359607293479
29     27.288904    96.1042564111019
...          ...                 ...
8987         NaN                 NaN
8988         NaN                 NaN
8989         NaN                 NaN
8990         NaN                 NaN
8991         NaN                 NaN
8992         NaN                 NaN
8993         NaN                 NaN
8994         NaN                 NaN
8995         NaN                 NaN
8996         NaN                 NaN
8997         NaN                 NaN
8998         NaN                 NaN
8999         NaN                 NaN
9000         NaN                 NaN
9001         NaN                 NaN
9002         NaN                 NaN
9003         NaN                 NaN
9004         NaN                 NaN
9005         NaN                 NaN
9006         NaN                 NaN
9007         NaN                 NaN
9008         NaN                 NaN
9009         NaN                 NaN
9010         NaN                 NaN
9011         NaN                 NaN
9012         NaN                 NaN
9013         NaN                 NaN
9014         NaN                 NaN
9015         NaN                 NaN
9016         NaN                 NaN

[9017 rows x 2 columns]

In [54]:
xyz['Year']=df['Year']
xyz['Rape']=df['Rape']
xyz['Kidnap']=df['Kidnap']
xyz['Dowry Deaths']=df['Dowry Deaths']


xyz

        Latitude           Longitude  Year  Rape  Kidnap  Dowry Deaths
0     19.6759452          78.5339895  2001    50      30            16
1          14.55           77.416667  2001    23      30             7
2      13.416667                  79  2001    27      34            14
3      14.416667               78.75  2001    20      20            17
4      17.233496          81.7225986  2001    23      26            12
5            ???                 ???  2001     0       0             0
6     16.2915189          80.4541588  2001    54      51             7
7     17.3886068    78.4608095675926  2001    37      39            24
8     18.4346438          79.1322648  2001    56      49            62
9     17.2465351          80.1500326  2001    47      30            17
10    16.6691525          80.7190024  2001    37      21            10
11    15.6006792           77.896243  2001    29      47            13
12    16.3618339          78.0312527  2001    59      27            14
13    17.7495977          78.2500021  2001    35      20            26
14    16.8587974    79.2125049550569  2001    35      19            31
15    14.4493717          79.9873763  2001    46      80            10
16    18.6732693          78.0978477  2001    21      21            19
17    17.0070088          81.7879635  2001    19      12             5
18    12.9554461          80.2530374  2001    72      83            37
19           ???                 ???  2001     0       0             1
20    18.2949396           83.893875  2001     8      12             6
21    16.5087586          80.6185102  2001    25      48             2
22           ???                 ???  2001     1       0             0
23           ???                 ???  2001    12      12             3
24    17.7231276          83.3012842  2001    13       6             0
25    18.1154979          83.3978806  2001     8       2             0
26    17.9899747          79.6043994  2001    53      25            52
27            17           81.166667  2001    61      21            15
28    49.6238319   0.779359607293479  2001   871     765           420
29     27.288904    96.1042564111019  2001     1       2             0
...          ...                 ...   ...   ...     ...           ...
8987         NaN                 NaN  2012    27      66             5
8988         NaN                 NaN  2012    27      66             5
8989         NaN                 NaN  2012     3       9             0
8990         NaN                 NaN  2012     3       9             0
8991         NaN                 NaN  2012     5       0             0
8992         NaN                 NaN  2012     0       0             0
8993         NaN                 NaN  2012     5       0             0
8994         NaN                 NaN  2012     0       0             0
8995         NaN                 NaN  2012    31      95             4
8996         NaN                 NaN  2012     1       1             0
8997         NaN                 NaN  2012   706    2160           134
8998         NaN                 NaN  2012    90     251             7
8999         NaN                 NaN  2012     0       0             0
9000         NaN                 NaN  2012     4      12             1
9001         NaN                 NaN  2012     0       0             0
9002         NaN                 NaN  2012     5      13             0
9003         NaN                 NaN  2012    14      84             6
9004         NaN                 NaN  2012    78     263            25
9005         NaN                 NaN  2012    64     184            12
9006         NaN                 NaN  2012    67     317            15
9007         NaN                 NaN  2012    70     134            17
9008         NaN                 NaN  2012   116     306            11
9009         NaN                 NaN  2012    87     244            18
9010         NaN                 NaN  2012     0       0             0
9011         NaN                 NaN  2012    79     256            18
9012         NaN                 NaN  2012     0       0             0
9013         NaN                 NaN  2012     0       0             0
9014         NaN                 NaN  2012     6       2             0
9015         NaN                 NaN  2012     7      14             0
9016         NaN                 NaN  2012    13      16             0

[9017 rows x 6 columns]

In [55]:
xyz['District']=df['DISTRICT']
xyz

,Latitude,Longitude,Year,Rape,Kidnap,Dowry Deaths,District
0,19.6759452,78.5339895,2001,50,30,16,ADILABAD
1,14.55,77.416667,2001,23,30,7,ANANTAPUR
2,13.416667,79,2001,27,34,14,CHITTOOR
3,14.416667,78.75,2001,20,20,17,CUDDAPAH
4,17.233496,81.7225986,2001,23,26,12,EAST GODAVARI
5,???,???,2001,0,0,0,GUNTAKAL RLY.
6,16.2915189,80.4541588,2001,54,51,7,GUNTUR
7,17.3886068,78.4608095675926,2001,37,39,24,HYDERABAD CITY
8,18.4346438,79.1322648,2001,56,49,62,KARIMNAGAR
9,17.2465351,80.1500326,2001,47,30,17,KHAMMAM
10,16.6691525,80.7190024,2001,37,21,10,KRISHNA
11,15.6006792,77.896243,2001,29,47,13,KURNOOL
12,16.3618339,78.0312527,2001,59,27,14,MAHABOOBNAGAR
13,17.7495977,78.2500021,2001,35,20,26,MEDAK
14,16.8587974,79.2125049550569,2001,35,19,31,NALGONDA
15,14.4493717,79.9873763,2001,46,80,10,NELLORE
16,18.6732693,78.0978477,2001,21,21,19,NIZAMABAD
17,17.0070088,81.7879635,2001,19,12,5,PRAKASHAM
18,12.9554461,80.2530374,2001,72,83,37,RANGA REDDY
19,???,???,2001,0,0,1,SECUNDERABAD RLY.
20,18.2949396,83.893875,2001,8,12,6,SRIKAKULAM
21,16.5087586,80.6185102,2001,25,48,2,VIJAYAWADA
22,???,???,2001,1,0,0,VIJAYAWADA RLY.
23,???,???,2001,12,12,3,VISAKHA RURAL
24,17.7231276,83.3012842,2001,13,6,0,VISAKHAPATNAM
25,18.1154979,83.3978806,2001,8,2,0,VIZIANAGARAM
26,17.9899747,79.6043994,2001,53,25,52,WARANGAL
27,17,81.166667,2001,61,21,15,WEST GODAVARI
28,49.6238319,0.779359607293479,2001,871,765,420,TOTAL
29,27.288904,96.1042564111019,2001,1,2,0,CHANGLANG
...,...,...,...,...,...,...,...
8987,NaN,NaN,2012,27,66,5,NaN
8988,NaN,NaN,2012,27,66,5,NaN
8989,NaN,NaN,2012,3,9,0,NaN
8990,NaN,NaN,2012,3,9,0,NaN
8991,NaN,NaN,2012,5,0,0,NaN
8992,NaN,NaN,2012,0,0,0,NaN
8993,NaN,NaN,2012,5,0,0,NaN
8994,NaN,NaN,2012,0,0,0,NaN
8995,NaN,NaN,2012,31,95,4,NaN
8996,NaN,NaN,2012,1,1,0,NaN
8997,NaN,NaN,2012,706,2160,134,NaN
8998,NaN,NaN,2012,90,251,7,NaN
8999,NaN,NaN,2012,0,0,0,NaN
9000,NaN,NaN,2012,4,12,1,NaN
9001,NaN,NaN,2012,0,0,0,NaN
9002,NaN,NaN,2012,5,13,0,NaN
9003,NaN,NaN,2012,14,84,6,NaN
9004,NaN,NaN,2012,78,263,25,NaN
9005,NaN,NaN,2012,64,184,12,NaN
9006,NaN,NaN,2012,67,317,15,NaN
9007,NaN,NaN,2012,70,134,17,NaN
9008,NaN,NaN,2012,116,306,11,NaN
9009,NaN,NaN,2012,87,244,18,NaN
9010,NaN,NaN,2012,0,0,0,NaN
9011,NaN,NaN,2012,79,256,18,NaN
9012,NaN,NaN,2012,0,0,0,NaN
9013,NaN,NaN,2012,0,0,0,NaN
9014,NaN,NaN,2012,6,2,0,NaN
9015,NaN,NaN,2012,7,14,0,NaN
9016,NaN,NaN,2012,13,16,0,NaN

In [136]:
xyz[xyz.Latitude != '???']

,Latitude,Longitude,Year,Rape,Kidnap,Dowry Deaths,District
0,19.6759452,78.5339895,2001,50,30,16,ADILABAD
1,14.55,77.416667,2001,23,30,7,ANANTAPUR
2,13.416667,79,2001,27,34,14,CHITTOOR
3,14.416667,78.75,2001,20,20,17,CUDDAPAH
4,17.233496,81.7225986,2001,23,26,12,EAST GODAVARI
6,16.2915189,80.4541588,2001,54,51,7,GUNTUR
7,17.3886068,78.4608095675926,2001,37,39,24,HYDERABAD CITY
8,18.4346438,79.1322648,2001,56,49,62,KARIMNAGAR
9,17.2465351,80.1500326,2001,47,30,17,KHAMMAM
10,16.6691525,80.7190024,2001,37,21,10,KRISHNA
11,15.6006792,77.896243,2001,29,47,13,KURNOOL
12,16.3618339,78.0312527,2001,59,27,14,MAHABOOBNAGAR
13,17.7495977,78.2500021,2001,35,20,26,MEDAK
14,16.8587974,79.2125049550569,2001,35,19,31,NALGONDA
15,14.4493717,79.9873763,2001,46,80,10,NELLORE
16,18.6732693,78.0978477,2001,21,21,19,NIZAMABAD
17,17.0070088,81.7879635,2001,19,12,5,PRAKASHAM
18,12.9554461,80.2530374,2001,72,83,37,RANGA REDDY
20,18.2949396,83.893875,2001,8,12,6,SRIKAKULAM
21,16.5087586,80.6185102,2001,25,48,2,VIJAYAWADA
24,17.7231276,83.3012842,2001,13,6,0,VISAKHAPATNAM
25,18.1154979,83.3978806,2001,8,2,0,VIZIANAGARAM
26,17.9899747,79.6043994,2001,53,25,52,WARANGAL
27,17,81.166667,2001,61,21,15,WEST GODAVARI
28,49.6238319,0.779359607293479,2001,871,765,420,TOTAL
29,27.288904,96.1042564111019,2001,1,2,0,CHANGLANG
30,28.7,95.7,2001,2,4,0,DIBANG VALLEY
31,27.2965871,92.8046258,2001,2,5,0,KAMENG EAST
32,27.2965871,92.8046258,2001,0,2,0,KAMENG WEST
33,27.6142591,95.3871522,2001,2,6,0,LOHIT
...,...,...,...,...,...,...,...
8987,NaN,NaN,2012,27,66,5,NaN
8988,NaN,NaN,2012,27,66,5,NaN
8989,NaN,NaN,2012,3,9,0,NaN
8990,NaN,NaN,2012,3,9,0,NaN
8991,NaN,NaN,2012,5,0,0,NaN
8992,NaN,NaN,2012,0,0,0,NaN
8993,NaN,NaN,2012,5,0,0,NaN
8994,NaN,NaN,2012,0,0,0,NaN
8995,NaN,NaN,2012,31,95,4,NaN
8996,NaN,NaN,2012,1,1,0,NaN
8997,NaN,NaN,2012,706,2160,134,NaN
8998,NaN,NaN,2012,90,251,7,NaN
8999,NaN,NaN,2012,0,0,0,NaN
9000,NaN,NaN,2012,4,12,1,NaN
9001,NaN,NaN,2012,0,0,0,NaN
9002,NaN,NaN,2012,5,13,0,NaN
9003,NaN,NaN,2012,14,84,6,NaN
9004,NaN,NaN,2012,78,263,25,NaN
9005,NaN,NaN,2012,64,184,12,NaN
9006,NaN,NaN,2012,67,317,15,NaN
9007,NaN,NaN,2012,70,134,17,NaN
9008,NaN,NaN,2012,116,306,11,NaN
9009,NaN,NaN,2012,87,244,18,NaN
9010,NaN,NaN,2012,0,0,0,NaN
9011,NaN,NaN,2012,79,256,18,NaN
9012,NaN,NaN,2012,0,0,0,NaN
9013,NaN,NaN,2012,0,0,0,NaN
9014,NaN,NaN,2012,6,2,0,NaN
9015,NaN,NaN,2012,7,14,0,NaN
9016,NaN,NaN,2012,13,16,0,NaN

In [137]:
df2=xyz.head(5824)
df2

,Latitude,Longitude,Year,Rape,Kidnap,Dowry Deaths,District
0,19.6759452,78.5339895,2001,50,30,16,ADILABAD
1,14.55,77.416667,2001,23,30,7,ANANTAPUR
2,13.416667,79,2001,27,34,14,CHITTOOR
3,14.416667,78.75,2001,20,20,17,CUDDAPAH
4,17.233496,81.7225986,2001,23,26,12,EAST GODAVARI
5,???,???,2001,0,0,0,GUNTAKAL RLY.
6,16.2915189,80.4541588,2001,54,51,7,GUNTUR
7,17.3886068,78.4608095675926,2001,37,39,24,HYDERABAD CITY
8,18.4346438,79.1322648,2001,56,49,62,KARIMNAGAR
9,17.2465351,80.1500326,2001,47,30,17,KHAMMAM
10,16.6691525,80.7190024,2001,37,21,10,KRISHNA
11,15.6006792,77.896243,2001,29,47,13,KURNOOL
12,16.3618339,78.0312527,2001,59,27,14,MAHABOOBNAGAR
13,17.7495977,78.2500021,2001,35,20,26,MEDAK
14,16.8587974,79.2125049550569,2001,35,19,31,NALGONDA
15,14.4493717,79.9873763,2001,46,80,10,NELLORE
16,18.6732693,78.0978477,2001,21,21,19,NIZAMABAD
17,17.0070088,81.7879635,2001,19,12,5,PRAKASHAM
18,12.9554461,80.2530374,2001,72,83,37,RANGA REDDY
19,???,???,2001,0,0,1,SECUNDERABAD RLY.
20,18.2949396,83.893875,2001,8,12,6,SRIKAKULAM
21,16.5087586,80.6185102,2001,25,48,2,VIJAYAWADA
22,???,???,2001,1,0,0,VIJAYAWADA RLY.
23,???,???,2001,12,12,3,VISAKHA RURAL
24,17.7231276,83.3012842,2001,13,6,0,VISAKHAPATNAM
25,18.1154979,83.3978806,2001,8,2,0,VIZIANAGARAM
26,17.9899747,79.6043994,2001,53,25,52,WARANGAL
27,17,81.166667,2001,61,21,15,WEST GODAVARI
28,49.6238319,0.779359607293479,2001,871,765,420,TOTAL
29,27.288904,96.1042564111019,2001,1,2,0,CHANGLANG
...,...,...,...,...,...,...,...
5794,???,???,2008,36,69,52,SILIGURI G.R.P.
5795,???,???,2008,12,38,36,UTTAR DINAJPUR
5796,49.6238319,0.779359607293479,2008,1871,4439,2237,TOTAL
5797,10.0001051,93.0000194,2008,2,7,8,ANDAMAN
5798,7,93,2008,2,1,2,NICOBAR
5799,49.6238319,0.779359607293479,2008,2,1,1,TOTAL
5800,30.7194022,76.7646552,2008,2,4,3,CHANDIGARH
5801,49.6238319,0.779359607293479,2008,20,65,9,TOTAL
5802,40.72711285,-73.9883603305435,2008,24,47,18,D and N HAVELI
5803,49.6238319,0.779359607293479,2008,9,22,10,TOTAL
5804,20.4169701,72.833173,2008,0,3,5,DAMAN
5805,20.7137783,70.9853635,2008,0,0,3,DIU
5806,49.6238319,0.779359607293479,2008,0,0,0,TOTAL
5807,-5.67527055,33.801495040644,2008,3,3,2,CENTRAL
5808,???,???,2008,22,64,11,DELHI UT TOTAL
5809,7.89272893536848,-11.1791558233434,2008,1,5,1,EAST
5810,???,???,2008,87,222,73,G.R.P.(RLY)
5811,???,???,2008,192,215,67,I.G.I. AIRPORT
5812,28.6141793,77.2022662,2008,308,275,53,NEW DELHI
5813,51.4785568,7.5533645,2008,20,12,9,NORTH
5814,1.37694165,103.927369390179,2008,46,18,20,NORTH EAST
5815,51.4785568,7.5533645,2008,58,27,26,NORTH WEST
5816,-24.8141686,-65.4574236594577,2008,61,28,24,S.T.F.
5817,36.5581914,127.9408564,2008,141,92,17,SOUTH
5818,44.9139652,-93.3001503,2008,47,36,8,SOUTH WEST
5819,0.5090396,34.5731341,2008,47,40,5,WEST
5820,10.565685,72.640639,2008,54,50,17,LAKSHADWEEP
5821,49.6238319,0.779359607293479,2008,46,89,20,TOTAL
5822,-34.0378295,18.3474093,2008,0,2,0,PONDICHERRY
5823,49.6238319,0.779359607293479,2008,334,239,18,TOTAL

In [141]:
df2=df2[df2.Latitude != '???']
df2.dtypes

Latitude        object
Longitude       object
Year             int64
Rape             int64
Kidnap           int64
Dowry Deaths     int64
District        object
dtype: object

In [142]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score
import pickle

In [143]:
train, test = train_test_split(df2, test_size=0.2)
features= ['Latitude','Longitude','Year']
target = 'Rape'
model = LinearRegression()

In [144]:
model.fit(train[features], train[target])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [145]:
#mean absolute value for training data
data = train[target]
predict =  model.predict(train[features])
training_error = mean_absolute_error(data, predict)
training_error

49.895304948956756

In [146]:
#mean absolute value for training data
test_data = test[target]
predict_test = model.predict(test[features])
test_data_error = mean_absolute_error(test_data, predict_test)
test_data_error

60.7586678805492

In [147]:
reg_filename='regmodel'
reg_pkl=open(reg_filename,'wb')
pickle.dump(model,reg_pkl)
reg_pkl.close()

In [148]:
x=30.689
y=40.789
z=2020
arr=x,y,z
first=model.predict(np.array([[arr[0],arr[1],arr[2]]]))

In [149]:
int(first)

61

In [150]:
df2.dtypes

Latitude        object
Longitude       object
Year             int64
Rape             int64
Kidnap           int64
Dowry Deaths     int64
District        object
dtype: object